.role-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 20px;
}

.role-container img{
    object-fit: cover;
}

.name-and-position{
    text-align: center;
}

.team-photo{
    border: var(--black) 1px solid;
}

.team-photo img{
    object-fit: contain;
    max-height: 500px;
    border-top: var(--black) 1px solid;
    display: block;
}

.team-photo-section{
    display: flex;
    justify-content: center;
}

.page-title{
    font-size: 32px;
    width: fit-content;
    padding: 20px;
}